[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
influxdb-client = "*"
pyserial = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
